body
  padding-top: 50px

.awale-board
  .awale-row
    margin-bottom: 1em
    background: url(/img/wood.jpg)
    border-radius: 15px
    padding: 30px
    .awale-cell
      border-radius: 5em
      padding: 0px
      text-align: center
      font-size: 5em
      &.adversary
        background-color: rgba(80, 80, 80, 0.5)
        color: #ccc
      &.mine
        cursor: grab
        background-color: rgba(180, 180, 180, 0.5)
        color: #333
        &:hover
          border: solid 3px #8ac9ff
          margin: -3px
      &.played
        border: dotted 5px #ffdf7f
        margin: -5px
      &.taken
        color: #f00
